<nav class = "container">
  <div><strong>Catagory name: <%= catagory.name%> </strong></div>
  
  <%= button_to('Show', catagory_path(catagory), method: :get)%>
  <%= button_to('Edit', edit_catagory_path(catagory), method: :get)%>
  <%= button_to('Delete catagory', catagory_path(catagory), method: :delete, data:{confirm: 'Delete the catagory? Are you sure?'})%>
<br>
</nav>