<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @catagory.name %>
</p>

<strong><%= link_to 'Edit', edit_catagory_path(@catagory) %></strong>
<strong><%= link_to 'Back', catagories_path %></strong>
