<nav style="padding: 20px;">
  <p><strong> Ingredient Name: </strong> <%= ingredient.name%></p>
  <!-- <p><strong>Recipe Name:</strong><%#= ingredient.recipes.map {|k| k.name}.join(', ') %></p> -->
  
  <ul>
  <li><%= button_to('Show', ingredient_path(ingredient), method: :get)%></li>
  <li><%= button_to('Edit', edit_ingredient_path(ingredient), method: :get)%></li>
  <li><%= button_to('Delete ingredient', ingredient_path(ingredient), method: :delete, data:{confirm: 'Delete the ingredient? Are you sure?'})%></li>
 </ul>

</nav>