<nav style="padding: 20px;">
  <p><strong>Category name: <%= category.name%> </strong></p>
  <ul>
    <li><%= button_to('Show', category_path(category), method: :get)%></li>
    <li><%= button_to('Edit', edit_category_path(category), method: :get)%></li>
    <li><%= button_to('Delete category', category_path(category), method: :delete, data:{confirm: 'Delete the category? Are you sure?'})%></li>
  </ul>
</nav>